#map {
  height: 500px;
}

.photo-choisie {
  max-height: 300px;
  display: block;
  margin: auto;
  padding: 2.0em;
}

#photos {
  display: flex;
  overflow: auto;
  flex-direction: row-reverse;
}

h1 {
  color: rgb(252, 255, 255);
  font-family: "Playwrite ES", cursive;
  background: linear-gradient(45deg, rgb(40, 27, 160), rgb(48, 195, 221) 75%, rgb(29, 253, 216));
  font-size: 2em;
}

p {
  font-family: "Dosis", sans-serif;
  font-size: 1.1em;
  color: rgb(20, 15, 59)
}

h2 {
  font-size: 1.5em;
  font-family: "Playwrite ES", cursive;
  text-decoration: underline;
}

ul {
  font-family: "Dosis", sans-serif;
  font-size: 1.1em;
  color: rgb(20, 15, 59)
}

#menu {
  width: 280px;
  height: 140px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  grid-column: 1;
  grid-row: 2 / span 3;

}

img {
  height: 300px;
}